h2 {
  margin-left: 10px;
}

.card {
  display: grid;
  grid-template-columns: 1fr 2fr;
}

.card-hero {
  width: max-content;
  height: max-content;
  padding: 10px;
  border: 1px solid;
  border-radius: 4px;
}

.card-hero div {
  margin-top: 10px;
  border-bottom: 1px solid gray;
}

/* HeroesComponent's private CSS styles */
.heroes {
  width: 15em;
  margin: 0 0 2em 0;
  padding: 0;
  list-style-type: none;
}

.heroes li {
  display: flex;
}

.heroes button {
  height: 1.8em;
  margin: 0.5em;
  padding: 0;
  position: relative;
  left: 0;
  background-color: #eee;
  border-radius: 4px;
  flex: 1;
  display: flex;
  align-items: stretch;
  cursor: pointer;
}

.heroes button:hover {
  background-color: #e6e6e6;
  color: #2c3a41;
  left: 0.4em;
}

.heroes button:active {
  background-color: #525252;
  color: #fafafa;
}

.heroes button.selected {
  background-color: black;
  color: white;
}

.heroes button.selected:hover {
  background-color: #505050;
  color: white;
}

.heroes button.selected:active {
  background-color: black;
  color: white;
}

.heroes .badge {
  margin-right: 0.8em;
  padding: 0.8em 0.7em 0 0.7em;
  border-radius: 4px 0 0 4px;
  display: inline-block;
  background-color: #405061;
  color: white;
  line-height: 1em;
  font-size: small;
}

.heroes .name {
  align-self: center;
}
